#root .footertxt {
  color: #ECDFCC !important;
}
.fullbody {
  margin: 0 40px 0 40px;
}

body{
  background-color: black!important;

} 


.navItems {
  display: block;
  justify-content: end; 
  font-size: 20px;
}

.cardproject{ 
  margin: 10px;
  text-align: center;
  border: none;
}


.items > a {
  color : #ECDFCC
}

.items :hover {
  border-bottom: 1px solid #ECDFCC;
  color: #ECDFCC !important;
}

.heading {
  text-align: center;
  color: #ECDFCC !important;
}