#root {
  color: #ECDFCC !important;
}
.fullbody {
  margin: 40px;
}

body{
  background-color: gray !important;
}

.navItems {
  display: block;
  justify-content: end; 
  font-size: 20px;
}

.cardproject{ 
  margin: 10px;
  text-align: center;
}

.navbar{
  background-color: #09122C !important;
}
.items > a {
  color : #ECDFCC
}

.items :hover {
  border-bottom: 1px solid #ECDFCC;
  color: #ECDFCC !important;
}

.heading {
  text-align: center;
}